/* FILE CSS PER SITO DI STRANAMORE */
/* Bianchi Andrea */
/* 2024 _ UniTo */

/* ------------------------------------------------ */
/* DEFINIZIONE DEI COLORI */
:root {
  --rossoStrana: #fe4a49;
  --gialloStrana: #fed766;
  --azzurroStrana: #009fb7;
  --neroStrana: #000000;
  --biancoStrana: #ffffff;
}
/* ------------------------------------------------ */

/* ------------------------------------------------ */
/* IMPOSTO PAGINA PER FISSARE IL FOOTER IN BASSO (anche con contenuto scarso) */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Imposta l'altezza minima al 100% della viewport */
}

main {
  flex: 1; /* Permette al main di espandersi per riempire lo spazio disponibile */
}

footer {
  margin-top: auto; /* Spinge il footer in fondo */
}



/* ------------------------------------------------ */
/* // COLORI DI SFONDO */

.bg-azzurro {
  background-color: var(--azzurroStrana);
}

.bg-rosso {
  background-color: var(--rossoStrana);
}

.bg-giallo {
  background-color: var(--gialloStrana);
}

.bg-nero {
  background-color: var(--neroStrana);
}

.bg-bianco {
  background-color: var(--biancoStrana);
}
/* ------------------------------------------------ */


/* ------------------------------------------------ */
/* // COLORI ICONE */

.iconeGialle {
  color: var(--gialloStrana);
}

.iconeRosse {
  color: var(--rossoStrana);
}

.iconeAzzurre {
  color: var(--azzurroStrana);
}


/* --------------------------------------------------- */
/* // Nascondo il link per accedere al contenuto principale */
.skip {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 0.06rem;
  height: 0.06rem;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}
/* ----------------------------------------------------- */


/* ----------------------------------------------------- */
/* // NAV BAR */

.navbar-nav {
  flex-grow: 1;
  justify-content: center;
}

.myNavbar {
  text-align: center;
  justify-content: right;
}

.nav-link {
  color: #ffffff;
}

.navLinkAdmin {
  color: #ffffff;
}

.navLinkAdmin:hover {
  color: var(--gialloStrana) !important;
}

.nav-link:hover {
  color: var(--azzurroStrana) !important;
}

.mioActive {
  color: var(--rossoStrana) !important;
}

.navbar-brand img { /* Imposto la grandezza del logo */
  width: 10vw;
  height: auto;
}

.mioSpanNav {
  color: var(--gialloStrana);
}

.dropdown-menu {
  background-color: var(--gialloStrana);
}

.dropdown-menu-lg {
  min-width: 300px; /* Cambio la larghezza del dropdown*/
}

/* Cambia colore dell'icona del burger menu */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fed766' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Cambia colore al passaggio del mouse */
.navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23009fb7' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/* Aumento la dimensione del logo su dispositivi mobili */
@media (max-width: 768px) {
  .navbar-brand img {
    width: 40vw; /* Aumenta la dimensione al 40% della larghezza dello schermo */
    height: auto;
  }
  .mioSpanNav { /* In schermi piccoli, quando i link diventano buerger menu, nascondo il carattere "|" */
    display: none;
  }
}

@media (max-width: 990px) and (min-width: 768px) {
  .navbar-brand img {
    width: 25vw;
    height: auto;
  }
}
/* ------------------------------------------------------ */


/* ------------------------------------------------------- */
/* // HERO SECTION */
.hero-section {
  position: relative;
  background-image: url('../Immagini/Giardino02.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 80vh; /*Imposta altezza minima della sesione all'80% dello schermo*/
}
/* -------------------------------------------------------- */


/* -------------------------------------------------------- */
/* // FOOTER */
footer a {
  color: var(--biancoStrana) !important;
}

.socialIcon {
  text-decoration: none;
}

.socialIcon:hover {
  text-decoration: none;
  color: var(--azzurroStrana) !important;
}

/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* // BLOCCHI HOMEPAGE */

.mioBordo01 {
  border: .3rem solid var(--azzurroStrana);
}

.mioFlowRoot {
  display: flow-root;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* // PAGINA CONTATTI */
.mioMargin01 {
  margin-bottom: 2.813rem;
}

.contact-form .mioH3contatti {
  font-family: Strana, Arial, Helvetica, sans-serif;
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: var(--neroStrana);
  font-size: 4rem;
}

.contact-form {
  background: var(--biancoStrana);
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  width: 70%;
  padding-top: 4%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 7%;
}

.contact-form .form-control {
  border-radius:1rem;
}

/* Stato iniziale degli input */
.form-control:focus {
  border-color: var(--azzurroStrana);
  box-shadow: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 191, 255, 0.25);
}

/* Stato di errore degli input */
.form-control.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* Stato di successo degli input */
.form-control.is-valid {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.form-control.is-pristine {
  border-color: #ced4da;
  box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.25);
}

.contact-image {
  text-align: center;
}

.contact-image img {
  border-radius: 6rem;
  width: 11%;
  margin-top: -3%;
}

.contact-form form .row {
  margin-bottom: -7%;
}

.contact-form .btnContact {
  width: 50%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: var(--gialloStrana);
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.btnContactSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: var(--azzurroStrana);
  border: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 0.313rem;
}

.mioContainerContatti {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
}

.inputBlu {
  border: 2px solid #00bfff;
}

.inputVerde {
  border: 2px solid #28a745;
}

.inputRosso {
  border: 2px solid #dc3545;
}

@media (max-width: 1150px) {
  .contact-form {
    width: 90% !important;
  }
  .separatoreVerticale {
    border-right: 0;
  }
}

.separatoreVerticale {
  border-right: 2px solid #000000;
  height: 80%;
}

.btn-social-icon {
  margin: 0 5px;
  color: #ffffff;
  background-color: #333;
  width: 4rem;
  height: 4rem;
  font-size: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;

}

.btn-facebook {
  background-color: #3b5998;
}

.btn-twitter {
  background-color: #1da1f2;
}

.btn-instagram {
  background-color: #e4405f;
}

.btn-youtube {
  background-color: #cd201f;
}

.separatoreSpesso {
  border: 0;
  height: 2px;
  background: black;
  margin: 20px 0;
}
/* --------------------------------------------------------- */


/* --------------------------------------------------------- */
/* // BOTTONI */

.bottoneRosso {
  border-color: var(--rossoStrana);
  border-radius: .3rem;
  border-width: .3rem;
}
.bottoneRosso:hover {
  border-color: black;
  color: black;
  background-color: var(--rossoStrana);
  border-radius: .3rem;
}

.bottoneGiallo {
  border-color: var(--gialloStrana);
  border-radius: .3rem;
  border-width: .3rem;
}
.bottoneGiallo:hover {
  border-color: black;
  color: #000000;
  background-color: var(--gialloStrana);
  border-radius: .3rem;
}

.bottoneGiallo2 {
  border-color: var(--gialloStrana);
  border-radius: .3rem;
  border-width: .3rem;
  background-color: white;
}
.bottoneGiallo2:hover {
  border-color: white;
  background-color: var(--gialloStrana);
  border-radius: .3rem;
  color: black;
}

.bottoneAzzurro {
  border-color: var(--azzurroStrana);
  border-radius: .3rem;
  border-width: .3rem;
}
.bottoneAzzurro:hover {
  border-color: #000000;
  color: #000000;
  background-color: var(--azzurroStrana);
  border-radius: .3rem;
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* // STILE DEGLI ERRORI */
 
.mioErrore01 {
  color: #e50000;
}

input.ng-invalid {
  border: #e50000 solid 0.08rem;
  background-color: rgba(201, 212, 57, .09);
}

input.ng-valid {
  border: rgb(69, 123, 47) solid 0.08rem;
  background-color: rgba(201, 212, 57, .09);
}

textarea.ng-invalid {
  border: #e50000 solid 0.08rem;
  background-color: rgba(229,0,0,.05);
}

textarea.ng-valid {
  border: rgb(69, 123, 47) solid 0.08rem;
  background-color: rgba(201, 212, 57, .09);
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* // TABELLE */
.miaImmagineTabella {
  width: 50px;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
}

.intestazioneTabella {
  background-color: var(--gialloStrana) !important;
}

thead th.intestazioneTabella {
  background-color: var(--gialloStrana);
}

@media (max-width: 768px) {
  .miaImmagineTabella, .miaColonnaImmagineTabella{
    display: none !important;
  }
}



/* --------------------------------------------------------- */
/* TODO: Verificare a cosa si riferiscono queste classi */
/*Che cavolo è questo???????*/
@media (max-width: 768px) {
  .divHomeAdmin {
  }
}
/* --------------------------------------------------------- */

/* --------------------------------------------------------- */
/* // CAROSELLO */

/* Titolo della finestra del carosello */
.fontTitoloCarosello {
  font-family: Strana, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: #000000;
  text-align: center;
  margin: 0 auto; /* Centra il titolo orizzontalmente */
  line-height: 1.2; /* Regola lo spazio tra le righe */
}

.modal-header .btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 992px) {
  .modal-content {
    max-width: 90%; /* Aumenta la larghezza del modal */
  }

  #galleryCarousel {
    width: 100%; /* Larghezza massima del carosello */
  }

  .carousel-item img {
    width: 100%; /* Assicura che l'immagine occupi tutta la larghezza */
    height: auto; /* Mantiene le proporzioni originali */
    max-height: 90vh; /* Limita l'altezza per evitare immagini troppo grandi */
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
    object-fit: contain; /* Adatta l'immagine senza tagliarla */
  }
}
/* --------------------------------------------------------- */



/* ANIMAZIONI TESTO */
/* Testo entra da dx verso sx */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 1s ease-out;
}

/* Testo entra da sx verso dx*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 1s ease-out;
}

.hidden {
  opacity: 0;
}


@media (max-width: 768px) {
  .containerIndexCentrale {
    width: 96% !important;
  }
}



